@import "../colours/index.css";

@theme inline {
  --color-chart-1: var(--color-canada-red-400);
  --color-chart-2: var(--color-pine-400);
  --color-chart-3: var(--color-lake-400);
  --color-chart-4: var(--color-aurora-400);
  --color-chart-5: var(--color-copper-400);
  --color-chart-6: var(--color-maritime-400);
  --color-chart-1: var(--color-canada-red-700);
  --color-chart-2: var(--color-pine-700);
  --color-chart-3: var(--color-lake-700);
  --color-chart-4: var(--color-aurora-700);
  --color-chart-5: var(--color-copper-700);
  --color-chart-6: var(--color-maritime-700);
}
