@import "../colours/main.css";

@theme inline {
  --color-background: var(--color-linen-100);
  --color-foreground: var(--color-charcoal-1000);
  --color-card: var(--color-linen-50);
  --color-card-foreground: var(--color-charcoal-1000);
  --color-popover: var(--color-linen-50);
  --color-popover-foreground: var(--color-charcoal-1000);
  --color-primary: var(--color-canada-red-800);
  --color-primary-foreground: var(--color-linen-50);
  --color-secondary: var(--color-nickel-100);
  --color-secondary-foreground: var(--color-charcoal-900);
  --color-muted: var(--color-linen-200);
  --color-muted-foreground: var(--color-charcoal-800);
  --color-accent: var(--color-nickel-100);
  --color-accent-foreground: var(--color-charcoal-1000);
  --color-destructive: var(--color-canada-red-500);
  --color-destructive-foreground: var(--color-linen-50);
  --color-border: var(--color-charcoal-200);
  --color-input: var(--color-charcoal-200);
  --color-ring: var(--color-canada-red-800);

  --color-sidebar: var(--color-nickel-50);
  --color-sidebar-foreground: var(--color-charcoal-1000);
  --color-sidebar-primary: var(--color-canada-red-800);
  --color-sidebar-primary-foreground: var(--color-linen-100);
  --color-sidebar-accent: var(--color-charcoal-100);
  --color-sidebar-accent-foreground: var(--color-charcoal-1000);
  --color-sidebar-border: var(--color-charcoal-100);
  --color-sidebar-ring: var(--color-canada-red-800);
}
